<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Scraping With Mongoose</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <header>
  <h3><a href="/articles">Home</a>        |
      <a href="/scrape" id="scrape">Scrape New York Times</a>       |
      <a href="/savedArticle">Saved Articles</a>        |
      <a href="https://github.com/nitu/News-Scraping">GitHub</a>
    </h3> 
    <h1 align="center" style= "color:#ba101e; font-family:Brush Script Std, Brush Script MT, cursive; font-size:40px">New York Times Scraper</h1>
  </header>
  {{{body}}}
</body>
</html>